body {
    background: tan;
    font-family: Chewy, sans-serif;
    margin: 0;
}

#metawrapper, #gamewrapper {
    margin: auto;
}

#cr-stage
{
    background-image: url('../sprites/bg_300_dark.png');
    background-repeat: repeat;
}


#cr-stage-wrap
{
    display: inline-block;
    width: 800px;
    height: 600px;
}
#metawrapper
{
    width: 1016px;
    height: 600px;
    overflow: hidden;
    position: relative;
    color: #a78b55;
    text-shadow: 0 0 3px #553d2a;
}
#splash
{
    width: 1016px;
    height: 600px;
    background: url('../sprites/title_screen.png');
}
#splash > div
{
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    padding: 1em;
}
#instruction_page
{
    width: 1016px;
    height: 600px;
    display: none;
}
#instructions
{
    top: 260px;
    bottom: 30px;
    left: 30px;
    right: 500px;
}
#objectives
{
    top: 340px;
    bottom: 30px;
    left: 546px;
    right: 320px;
    font-size: 12pt;
		color : black;
}
#instructions > table
{
    width: 70%;
    margin: auto;
    table-layout: fixed;
		color : black;
}
#instructions > table td
{
    text-align: center;
}
#objectives > ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
#objectives > ul li
{
    padding-bottom: 5px;
}

button
{
    font-family: Chewy, sans-serif;
    font-size: 2em;
    border-width: 5px;
    border-color: #a78b55;
    border-radius: 15px;
    background-color: #ecaa5e;
    position: absolute;
    left: 540px;
    top: 260px;
}

#game
{
    width: 1016px;
    height: 600px;
    display: none;
}
#gamewrapper
{
    width: 800px;
    height: 600px;
    background-color: black;
    display: inline-block;
    overflow: hidden;
}

#side1
{
    display: inline-block;
    float: left;
    background-image: url('../sprites/sidebar_p1.png');
}
#side1 > table
{
    width: 70%;
    margin: auto;
    table-layout: fixed;
    padding-top: 50px;
}
#side2
{
    display: inline-block;
    margin-left: -5px;
    float: right;
    background-image: url('../sprites/sidebar_p2.png');
}
#side2 > table
{
    width: 70%;
    margin: auto;
    table-layout: fixed;
    padding-top: 50px;
}

.top_right
{
    left: 540px;
    top: 10px;
}

.side
{
    width: 108px;
    height: 600px;
    padding-top: 20px;
    background-color: black;
    text-align: center;
}

.wincount
{
    width: 73px;
    text-align:center;
    display: inline-block;
}
.value
{
    display: inline-block;
    width: 36px;
    height: 24px;
    background: silver;
    border: 2px solid white;
    border-radius: 3px;
    color: black;
    text-align: center;
    vertical-align: middle;
    text-shadow: none;
}

.powerup
{
    padding-top: 50px;
    width: 73px;
    text-align: center;
    display: inline-block;
}
.powerupIcon
{
    width: 70px;
    display: inline-block;
}
.powerupBar
{
    width: 73px;
    height: 9px;
    background-image: url('../sprites/emptybar.png');
    display: inline-block;
}

.instuctions_1
{
    background-image: url('../sprites/instructions_walk.gif');
    height: 140px;
		width: 700px;
}
.instuctions_2
{
    background-image: url('../sprites/instructions_jump.gif');
    height: 140px;
		width: 700px;
}.instuctions_3
{
    background-image: url('../sprites/instructions_rocketboots.gif');
    height: 210px;
		width: 700px;
}.instuctions_4
{
    background-image: url('../sprites/instructions_bazooka.gif');
    height: 140px;
		width: 700px;
}

.bazookaPBar
{
    margin-top: 10px;
}
.bazookaBar
{
    width: 0%;
    height: 100%;
    background-image: url('../sprites/greenbar.png');
}
.Icon5_1
{
    background-image: url('../sprites/powerup2_mole.png');
    height: 48px;
    margin-top: 6px;
}
.Icon5_1_dis
{
    background-image: url('../sprites/powerup2_mole_dis.png');
    height: 54px;
}
.Icon5_2
{
    background-image: url('../sprites/powerup2_mouse.png');
    height: 54px;
}
.Icon5_2_dis
{
    background-image: url('../sprites/powerup2_mouse_dis.png');
    height: 48px;
    margin-top: 6px;
}


.jetPBar
{
    margin-top: 0px;
}
.jetBar
{
    width: 0%;
    height: 100%;
    background-image: url('../sprites/redbar.png');
}
.jetIcon
{
    height: 59px;
}
.Icon4_1
{
    background-image: url('../sprites/powerup1_mole.png');
}
.Icon4_1_dis
{
    background-image: url('../sprites/powerup1_mole_dis.png');
}
.Icon4_2
{
    background-image: url('../sprites/powerup1_mouse.png');
}
.Icon4_2_dis
{
    background-image: url('../sprites/powerup1_mouse_dis.png');
}
.scoreCount
{
}
h2
{
    margin-top: 0px;
}
h3
{
    margin-top: 0px;
}
h4
{
    font-weight: normal;
    text-decoration: underline;
}
.instbox
{
    border-style: dotted;
    border-width: 1px;

    padding: 10px;
    margin: 5px;
    margin-bottom: 15px;
}
.smcontrols
{
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}
.key
{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    text-align: center;
    vertical-align: middle;
    text-shadow: none;
    font-weight: bolder;
}
.key.pressed
{
    background: salmon;
}
.key.disabled
{
    background: darkgray;
}
footer
{
    text-align: center;
    font-size: 12pt;
}
