body {
    background: tan;
}

#gamewrapper, #undergame {
    margin: auto;
}

#cr-stage
{
    width: 800px;
    height: 600px;
    margin-left: 60px;
    margin-right: 60px;
}
#gamewrapper
{
    width: 920px;
    height: 600px;
    background-color: black;
}
#pto1
{
    float: left;
}
#pto2
{
    float: right;
}
.ptsouter
{
    width: 60px;
    height: 600px;
    background-color: green;
    background-image: url('../sprites/Score.png');
}
.pts
{
    width: 60px;
    height: 600px;
    background-color: black;
    background-image: url('../sprites/ScoreBg.png');
}


h2
{
    margin-top: 0px;
}
h3
{
    margin-top: 0px;
}
h4
{
    font-weight: normal;
    text-decoration: underline;
}
.instbox
{
    border-style: dotted;
    border-width: 1px;

    padding: 10px;
    margin: 5px;
    margin-bottom: 15px;
}
.smcontrols
{
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}
.key
{
    font-weight: bolder;
}
#start
{
    margin-left: 15px;
    font-style: italic;
}
#undergame
{
    width: 890px;
    font-family: sans-serif;
}
#left
{
    float: left;
    width: 520px;
}
#controls{
    float: right;
}
#p1controls{
    float: left;
}
#p2controls{
    float: right;
}
