body {
    background: tan;
    font-family: Chewy, sans-serif;
    margin: 0;
}

#metawrapper, #gamewrapper {
    margin: auto;
}

#cr-stage
{
    background-image: url('../sprites/bg_300_dark.png');
    background-repeat: repeat;
}


#cr-stage-wrap
{
    display: inline-block;
    width: 800px;
    height: 600px;
}
#metawrapper
{
    width: 1016px;
    height: 600px;
    overflow: hidden;
    position: relative;
    color: #a78b55;
    text-shadow: 0 0 3px #553d2a;
}
#splash
{
    width: 1016px;
    height: 600px;
    background: url('../sprites/title_screen.png');
}
#splash > div
{
    position: absolute;
    padding: 1em;
}
#objectives, #instructions > *
{
    background-color: rgba(0, 0, 0, 0.7);
}
#instructions
{
    top: 420px;
    bottom: 20px;
    left: 20px;
    right: 20px;
}
#instructions > div
{
    float: left;
    height: 105px;
    width: 300px;
    vertical-align: middle;
    padding: 0px 5px;
}
#instructions > div:not(:last-child)
{
    margin-right: 7px;
}
#objectives
{
    top: 20px;
    left: 780px;
    right: 20px;
    font-size: 12pt;
}
#instructions > table
{
    width: 100%;
    table-layout: fixed;
}
#instructions > table td
{
    text-align: center;
}
#objectives > ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
#objectives > ul li
{
    padding-bottom: 5px;
}

button
{
    font-family: Chewy, sans-serif;
    font-size: 2em;
    border-width: 5px;
    border-color: #a78b55;
    border-radius: 15px;
    background-color: #ecaa5e;
    position: absolute;
    right: 50px;
    top: 200px;
}
#game
{
    width: 1016px;
    height: 600px;
    display: none;
    cursor: none;
}
#gamewrapper
{
    width: 800px;
    height: 600px;
    background-color: black;
    display: inline-block;
    overflow: hidden;
}

#side1
{
    display: inline-block;
    float: left;
    background-image: url('../sprites/sidebar_p1.png');
}
#side1 > table
{
    width: 70%;
    margin: auto;
    table-layout: fixed;
    padding-top: 50px;
}
#side2
{
    display: inline-block;
    margin-left: -5px;
    float: right;
    background-image: url('../sprites/sidebar_p2.png');
}
#side2 > table
{
    width: 70%;
    margin: auto;
    table-layout: fixed;
    padding-top: 50px;
}
.side
{
    width: 108px;
    height: 600px;
    padding-top: 20px;
    background-color: black;
    text-align: center;
}

.wincount
{
    width: 73px;
    text-align:center;
    display: inline-block;
}
.value
{
    display: inline-block;
    width: 36px;
    height: 24px;
    background: silver;
    border: 2px solid white;
    border-radius: 3px;
    color: black;
    text-align: center;
    vertical-align: middle;
    text-shadow: none;
}

.instuctions_1
{
    background: url('../sprites/instructions_walk_shrunk.gif') 5px 28px no-repeat;
}
.instuctions_2
{
    background-image: url('../sprites/instructions_jump_shrunk.gif');
}
.instuctions_3
{
    background: url('../sprites/instructions_rocketboots_shrunk.gif') 5px 0px no-repeat;
}
.instuctions_4
{
    background: url('../sprites/instructions_bazooka_shrunk.gif') 5px 28px no-repeat;
}


.powerup
{
    padding-top: 50px;
    width: 73px;
    text-align: center;
    display: inline-block;
    position: relative;
}
.powerupIcon
{
    width: 70px;
    display: inline-block;
}
.powerupBar
{
    width: 73px;
    height: 9px;
    background-image: url('../sprites/emptybar.png');
    display: inline-block;
}

.bazookaPBar
{
    margin-top: 10px;
}
.bazookaBar
{
    width: 0%;
    height: 100%;
    background-image: url('../sprites/greenbar.png');
}
.bazookaIcon
{
    height: 54px;
}
.Icon5_1
{
    background-image: url('../sprites/powerup2_mole.png');
}
.Icon5_1_dis
{
    background-image: url('../sprites/powerup2_mole_dis.png');
}
.Icon5_2
{
    background-image: url('../sprites/powerup2_mouse.png');
}
.Icon5_2_dis
{
    background-image: url('../sprites/powerup2_mouse_dis.png');
}


.jetPBar
{
    margin-top: 0px;
}
.jetBar
{
    width: 0%;
    height: 100%;
    background-image: url('../sprites/redbar.png');
}
.jetIcon
{
    height: 60px;
}
.Icon4_1
{
    background-image: url('../sprites/powerup1_mole.png');
}
.Icon4_1_dis
{
    background-image: url('../sprites/powerup1_mole_dis.png');
}
.Icon4_2
{
    background-image: url('../sprites/powerup1_mouse.png');
}
.Icon4_2_dis
{
    background-image: url('../sprites/powerup1_mouse_dis.png');
}
.scoreCount
{
}
h2
{
    margin-top: 0px;
}
h3
{
    margin-top: 0px;
}
h4
{
    font-weight: normal;
    text-decoration: underline;
}
.instbox
{
    border-style: dotted;
    border-width: 1px;

    padding: 10px;
    margin: 5px;
    margin-bottom: 15px;
}
.smcontrols
{
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}
.key
{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    text-align: center;
    vertical-align: middle;
    text-shadow: none;
    font-weight: bolder;
}
.key.pressed
{
    background: salmon;
}
.key.disabled
{
    background: darkgray;
}
footer
{
    text-align: center;
    font-size: 12pt;
}
