body {
    background: tan;
    overflow-y: scroll !important;
}

#metawrapper, #gamewrapper, #undergame {
    margin: auto;
}

#cr-stage-wrap
{
    display: inline-block;
    width: 800px;
    height: 600px;
}
#metawrapper
{
    width: 1016px;
    height: 600px;
    background-color: black;
    overflow:hidden;
}
#gamewrapper
{
    width: 800px;
    height: 600px;
    background-color: black;
    display: inline-block;
    overflow: hidden;
}

#side1
{
    display: inline-block;
    float: left;
    background-image: url('../sprites/sidebar_p1.png');
}
#side2
{
    display: inline-block;
    margin-left: -5px;
    float: right;
    background-image: url('../sprites/sidebar_p2.png');
}
.side
{
    width: 108px;
    height: 600px;
    padding-top: 100px;
    background-color: black;
    text-align: center;
}

.powerUp
{
    width: 73px;
    text-align: center;
    display: inline-block;
}
.powerupIcon
{
    width: 70px;
    display: inline-block;
}
.powerupBar
{
    width: 73px;
    height: 9px;
    margin-top: 10px;
    display: inline-block;
    background-image: url('../sprites/emptybar.png');
}
.bazookaBar
{
    width: 0%;
    height: 100%;
    background-image: url('../sprites/greenbar.png');
}

.Icon5
{
    height: 48px;
    background-image: url('../sprites/powerup2.png');
}
.Icon5_dis
{
    height: 48px;
    background-image: url('../sprites/powerup2_dis.png');
}




h2
{
    margin-top: 0px;
}
h3
{
    margin-top: 0px;
}
h4
{
    font-weight: normal;
    text-decoration: underline;
}
.instbox
{
    border-style: dotted;
    border-width: 1px;

    padding: 10px;
    margin: 5px;
    margin-bottom: 15px;
}
.smcontrols
{
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}
.key
{
    font-weight: bolder;
}
#start
{
    margin-left: 15px;
    font-style: italic;
}
#undergame
{
    width: 890px;
    font-family: sans-serif;
}
#left
{
    float: left;
    width: 520px;
}
#controls{
    float: right;
}
#p1controls{
    float: left;
}
#p2controls{
    float: right;
}
